.body{
    background-color: darkturquoise;
}
.console{
    width: 100%;
    height:960px;
    background-color: white;
    border-radius: 5px;
    font-size:1em;
    line-height: 0.6;
    p{
        display: inline;
    }
}
.puff{
    height:10px;
}