<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <title>{{ name }}</title>
</head>

<body>
    <div class="consolewindow">
        {% for cycle in cycles %}
        <div class="gen">
            {%for i in cycle%}
            {%for j in i%}
            <p>{{j}}</p>
            {% endfor %}
            <br>
            {% endfor %}
        </div>
        ----------------------------------------------
        {% endfor %}
    </div>
    <div class="menu">
        this is menu
    </div>
</body>

</html>