<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" )>
    <link rel="stylesheet" href="{{url_for('static',filename='skeleton.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider({
                auto: false,
                minSlides: 1,
                maxSlides: 15,
                slideWidth: 77,
                pager: true,
                pagerType: 'short',
                captions: true
            });
        });
    </script>
    <title>コンウェイの箱庭</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="puff twelve columns"></div>
        </div>
        <div class="row">
            <div>
                <h1>Box garden of Conway</h1>
            </div>
        </div>
        <div class="row">
            <div class="puff twelve columns"></div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="console" id="cns">
                    <img src="{{url_for('static',filename='imgs/tempimg.gif') }}" width='100%'>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="slider">
                    {% for n in range(500) %}
                    <div class="slideimage"><img src="static/imgs/img{{n}}.jpg" title='第{{n}}世代'></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="puff twelve columns"></div>
        </div>
        <form>
            <div class="row">
                <div class="six columns">

                    <form action="/restart">
                        <button class=".button-primary">
                            新しい瓶を製成
                        </button>
                    </form>
                    <form action="#">
                        <button class=".button-primary">
                            瓶をローカルに保存
                        </button>
                    </form>
                </div>
                <div class="six columns">
                    世代数
                    <input type="range" value="500" min="10" max="1000" step="1" name="" id=""
                        oninput="document.getElementById('output1').value=this.value">
                    <output id="output1">500</output>
                </div>
            </div>
        </form>
    </div>
</body>

</html>