<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" )>
    <link rel="stylesheet" href="{{url_for('static',filename='skeleton.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider').bxSlider({
                auto: false,
                minSlides: 1,
                maxSlides: 15,
                slideWidth: 77,
                slideMargin: 5,
                pager: true,
                pagerType: 'short',
                captions: true
            });
            $('.slider2').bxSlider({
                auto: true,
                autoControls: true,
                pause: 100,
                mode: 'fade',
                speed: 1,
                pager: false,
                stopAutoOnClick: true,
                captions: false
            });
        });
    </script>
    <title>コンウェイの箱庭</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="puff twelve columns"></div>
        </div>
        <div class="row">
            <div>
                <h1>Box garden of Conway</h1>
            </div>
        </div>
        <div class="row">
            <div class="puff twelve columns"></div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="console">
                    <div class="slider2" id="cns">
                        {% for n in range(gens) %}
                        <img src="static/imgs/img{{n}}.jpg">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <div class="slider">
                    {% for n in range(gens) %}
                    <div class="slideimage"><img src="static/imgs/img{{n}}.jpg" title='第{{n}}世代'>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="puff twelve columns"></div>
        </div>
        <form>
            <div class="row">
                <div class="six columns">

                    <form action="/" method="POST">
                        <button class=".button-primary" type="submit" name="" value="">
                            新しい瓶を製成
                        </button>

                        世代数
                        <input type="range" value="500" min="10" max="1000" step="1"
                            oninput="document.getElementById('output1').value=this.value">
                        <output id="output1">500</output>
                    </form>
                </div>
            </div>
        </form>
    </div>
</body>

</html>